.composition {
    padding: 67px 0 32px 0;
    &__container {
        max-width: 1230px;
        padding: 0 32px;
    }
    &__title {
        max-width: 673px;
        &::before,
        &::after {
            width: 674px;
        }
    }
    &__block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &-item {
            padding: 20px;
            width: 100%;
            font-family: var(--main-font);
            background-color: var(--second-bg);
            border-radius: var(--border-radius);
            &-title {
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 23px;
                color: #000000;
                span {
                    display: inline-block;
                    margin-right: 3px;
                    color: var(--main-color);
                }
            }
            &-descr {
                margin-top: 10px;
                font-style: italic;
                font-weight: 400;
                font-size: 16px;
                line-height: 23px;
                color: #000000;
            }
            &:not(:first-child) {
                margin-top: 10px;
            }
        }
        &-descr {
            margin-top: 30px;
            max-width: 570px;
            font-family: var(--main-font);
            font-style: italic;
            font-weight: 600;
        }
        &-list {
            margin-top: 30px;
            list-style-type: none;
        }
        &-text {
            margin-top: 30px;
            max-width: 100%;
            font-style: italic;
            span {
                font-weight: 700;
            }
        }

        &-left {
            max-width: 570px;
            width: 100%;
        }
        &-right {
            max-width: 539px;
            margin-left: 59px;
            margin-top: -10px;
            img {
                width: 100%;
            }
        }
    }
}