.item {
    padding: 20px;
    width: 100%;
    font-family: var(--main-font);
    background-color: var(--second-bg);
    border-radius: var(--border-radius);
    &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 23px;
        color: #000000;
        span {
            display: inline-block;
            margin-right: 3px;
            color: var(--main-color);
        }
    }
    &__descr {
        margin-top: 10px;
        font-style: italic;
        font-weight: 400;
        font-size: 16px;
        line-height: 23px;
        color: #000000;
    }
}